<div class="tela-wrapper">
  <div class="login-container">
    <h2>Login</h2>

    <form [formGroup]="form" (ngSubmit)="fazerLogin()">
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        [ngClass]="{'input-error': campoInvalido('email')}"
      />
      <small *ngIf="campoInvalido('email')" class="error-message">
        {{ form.get('email')?.hasError('required') ? 'O email é obrigatório.' : 'Formato de email inválido.' }}
      </small>

      <label for="senha">Senha</label>
      <input
        id="senha"
        formControlName="senha"
        type="password"
        [ngClass]="{'input-error': campoInvalido('senha')}"
      />
      <small *ngIf="campoInvalido('senha')" class="error-message">
        <ng-container *ngIf="form.get('senha')?.hasError('required')">
          A senha é obrigatória.
        </ng-container>
        <ng-container *ngIf="form.get('senha')?.hasError('minlength')">
          Mínimo de 5 caracteres.
        </ng-container>
        <ng-container *ngIf="form.get('senha')?.hasError('pattern')">
          Deve conter ao menos um número.
        </ng-container>
      </small>

      <button type="submit">Entrar</button>
    </form>
  </div>
</div>
